<%- include('./partials/header.ejs') %>

<div class="container">
    <h4>Olá, EJS funcionando! Acesse o endpoint <a href="http://localhost:3001/metadata">/metadata</a></h4>
</div>


<%- include('./partials/footer.ejs') %>